* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.width-80 {
    width: 80%;
}


/* nav */
nav {
    width: 100%;
    background: white;
    line-height: 80px;
    position: fixed;
}

.logo-dropbox {
    width: 12%;
    vertical-align: middle;
    text-align: center;
    padding: 0 1em;
}

.nav-left {
    width: 53%;
}

.undrlist {
    list-style: none;
    display: inline-block;
}

.underlist li {
    display: inline-block;
    padding: 0 0.5em;
}

.underlist li:hover {
    border-bottom: 2px solid black;
}

.menu-list a{
    text-decoration: none;
    color: black;    
}

.nav-right {
    width: 28%;
    text-align: center;
}


.btn {
    width: 7%;
    text-align: center;
}

.button a{
    font-size: 1em;
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    background: #0061ff;
}

.button a:hover {
    background: #0061ff59;
}
/* nav */

/* jambotron */

.jambotron {
    width: 100%;
    height: 100vh;
   
}

.jambo-bg {
    width: 100%;
    height: 90vh;
    background: #b4d0e7
}

.jambo-container{
    width: 85%;
    margin: 0 auto;
}

.jambo-text {
    padding-top: 10%;
    width: 100%;
    margin: 0 auto;
    font-size: 2.5em;
    text-align: left;
}

.jambo {
    width: 100%;
    
}

.jambo-description {
    margin-top: 3%;
    margin-right: 3%;
    width: 40%;
    
}

.jambo-description p{
    font-size: 1.2em;
}

.button-jambo {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.arrow {
    margin-top: 1em;
}

.arrow a{
    color: black;
    font-size: 2em;
}

.jambo-img {
    width: 57%;
    margin-top: 3%;
    
    
} 

.jambo-img img{
    width: 100%
}
/* /jambotron */

/* business */

.business {
    margin: 0 auto;
}

.business-title {
    margin-top: 6em;
    font-size: 1.5em;
}

.checks {
    margin-top: 3em;
}

.check {
    display: inline-block;
}

.blue {
    margin-right: 1em;
}

.blue i {
    color: #0061ff;
    font-size: bold;
}

.white i {
    color: #e6e6e7;
}

.option {
    width: 100%;
    margin-top: 2em;
}

.row {
    padding: 0 0;
    border: 1px solid #e6e6e7;
    text-align: center;
    height: 900px;
    width: calc(100% / 3 - 30px / 3);
    margin-right: 15px;
    margin-bottom: 1em;
}

.icon-singolo {
    padding: 0.5em 0;
    border: 1px solid #e6e6e7;
}

.right {
    margin-right: 0;
}

.box {
    text-align: left;
    padding: 1.5em 1.7em;
}

.title-professional {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.color-grey {
    color: #6c7b88;
}

.price {
    padding-bottom: 1em;
}

.month {
    padding-bottom: 3em;
}

.box p {
    font-size: 0.8em; 
}

.function {
    margin-left: 1.5em;
}

.user p{
    margin-left: 0.1em;
}

.icon {
    margin-bottom: 1em;
}

.try-for-free  {
    text-align: left;
    margin-top: 2em;
}

.try-for-free a{
    padding: 4px 60px;
}

.buy-now{
    font-size: 0.8em;
    margin-top: 2em;
}

.buy-now a {
    color: #327fff;
}

.line {
    margin-top: 2em;
    width: 15%;
    height: 1px;
    border-bottom: 1px solid #6c7b8866;
}

.plane {
    margin-top: 2em;
}

.list-check {
    margin-top: 2em;
}

.list-check ul{
    list-style-type: none;
}

.list-check li {
    margin-bottom: 1em;
}

.list-check i {
    color: #327fff;
}



