* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.width-80 {
    width: 80%;
}

.button-fixed a{
    display: inline-block;
}


/* nav */
nav {
    width: 100%;
    background: white;
    line-height: 80px;
    position: fixed;
    z-index: 99999999;
}

.logo-dropbox {
    width: 12%;
    vertical-align: middle;
    text-align: center;
    padding: 0 1em;
}

.nav-left {
    width: 53%;
}

.undrlist {
    list-style: none;
    display: inline-block;
}

.underlist li {
    display: inline-block;
    padding: 0 0.5em;
}

.underlist li:hover {
    border-bottom: 2px solid black;
}

.menu-list a{
    text-decoration: none;
    color: black;    
}

.nav-right {
    width: 28%;
    text-align: center;
}


.btn {
    width: 7%;
    text-align: center;
}

.button a{
    font-size: 1em;
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    background: #0061ff;
}

.button a:hover {
    background: #0061ff59;
}
/* nav */

/* jambotron */

.jambotron {
    width: 100%;
}

.jambo-bg {
    width: 100%;
    background: #b4d0e7
}

.jambo-container{
    width: 85%;
    margin: 0 auto;
}

.jambo-text {
    padding-top: 10%;
    width: 100%;
    margin: 0 auto;
    font-size: 2.5em;
    text-align: left;
}

.jambo {
    width: 100%;
    
}

.jambo-description {
    padding-top: 5em;
    margin-top: 3%;
    margin-right: 3%;
    width: 40%;
    
}

.jambo-description p{
    font-size: 1.2em;
}

.button-jambo {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.arrow {
    margin-top: 1em;
}

.arrow a{
    color: black;
    font-size: 2em;
}

.jambo-img {
    position: relative;
    bottom: -90px;
    width: 57%;
    margin-top: 3%;
} 

.jambo-img img{
    width: 100%
}
/* /jambotron */

/* piano business */

.margin-auto {
    margin: 0 auto;
}

.business-title {
    margin-top: 6em;
    font-size: 1.8em;
}

.checks {
    margin-top: 3em;
}

.check {
    display: inline-block;
}

.blue {
    margin-right: 1em;
}

.blue i {
    color: #0061ff;
    font-size: bold;
}

.white i {
    color: #e6e6e7;
}

.option {
    width: 100%;
    margin-top: 2em;
}

.row {
    padding: 0 0;
    border: 1px solid #e6e6e7;
    text-align: center;
    height: 900px;
    width: calc(100% / 3 - 30px / 3);
    margin-right: 15px;
    margin-bottom: 1em;
}

.icon-singolo {
    padding: 0.5em 0;
    border: 1px solid #e6e6e7;
}

.right {
    margin-right: 0;
}

.box {
    text-align: left;
    padding: 1.5em 1.7em;
}

.title-professional {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.color-grey {
    color: #6c7b88;
}

.price {
    padding-bottom: 1em;
}

.month {
    padding-bottom: 3em;
}

.box p {
    font-size: 0.8em; 
}

.function {
    margin-left: 1.5em;
}

.user p{
    margin-left: 0.1em;
}

.icon {
    margin-bottom: 1em;
}

.try-for-free  {
    text-align: left;
    margin-top: 2em;
}

.try-for-free a{
    padding: 4px 60px;
}

.buy-now{
    font-size: 0.8em;
    margin-top: 2em;
}

.buy-now a {
    color: #327fff;
}

.line {
    margin-top: 2em;
    width: 15%;
    height: 1px;
    border-bottom: 1px solid #6c7b8866;
}

.plane {
    margin-top: 2em;
}

.list-check {
    margin-top: 2em;
}

.list-check ul{
    list-style-type: none;
}

.list-check li {
    margin-bottom: 1em;
}

.list-check i {
    color: #327fff;
}
/* /paino business */


/* ufficio vendite */

.team {
    margin-top: 2em;
}

.team-building {
    text-align: center;
    padding: 1em 0;
    border: 1px solid #e6e6e7;
}

.enterprise {
    width: 100%;
    border: 1px solid #e6e6e7;
}

.enterprise-left {
    width: 70%;
}

.enterprise-left h4{
    margin-bottom: 2em;
}

.sales-office {
    width: 30%;
    padding-top: 2em;
}

.sales-office a {
    padding: 4px 60px;
}
/* /ufficio vendite */

/* partner dropbox */

.partner {
    margin-top: 10em;
}

.img-mans {
    width: 50%;
}

.img-mans img {
    width: 100%;
}

.partner-dropbox {
    width: 50%;
    padding: 3em;
}

.title-professional-two {
    font-size: 2em;
    margin-bottom: 1em;
}

.partner-dropbox p {
    margin-bottom: 2em;
}

.button-white {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 8px 16px;
}
/* /partner dropbox */

/* operazioni dropbox */

.operation-dropbox {
    margin-top: 7em;
}

.less-time {
    margin-top: 2em;
    width: 100%;
}

.column-operation {
    height: 600px;
    width: calc(100% / 3 - 30px / 3);
    margin-right: 15px;
}

.less-time-left-img img {
    width: 100%;
}

.underlined {
    border-bottom: 1px solid black;
}

.less-time-right {
    margin-right: 0;
}

/* /operazioni dropbox */

/* five hundred thousand */
.five-hundred-thousand {
    margin-bottom: 2em;
}


.five-hundred-thousand-team {
    margin-bottom: 1em;
}

.five-hundred-thousand a {
    color: #3c86ff;
}



.logos {
    width: 100%;
    height: 500px;
    background: cadetblue;
}

.logos-left {
    width: 30%;
    height: 100%;
    background: #b4d0e7;
}

.logos-center {
    overflow-y: scroll;
    width: 40%;
    height: 100%;
    background: #f5f5f5;
}

.logos-right {
    width: 30%;
    height: 100%;
    background: hotpink;
}

.logo-top-left-left {
    width: 50%;
    height: 50%;
    background: #a2d39b;
    border: 10px solid #d0e9cd;
    position: relative;
}

.logo-top-left-right {
    width: 50%;
    height: 50%;
    background: #61082b;
    position: relative;
}

.logo-bottom-right-left {
    width: 50%;
    height: 50%;
    background: #0093ce;
    position: relative;
}

.logo-bottom-right-right {
    width: 50%;
    height: 50%;
    background: #ff1c1c;
    position: relative;
}

.logo-top-right-left {
    width: 50%;
    height: 50%;
    background: #d5001f;
    position: relative;
}

.logo-top-right-right {
    width: 50%;
    height: 50%;
    background: #b4d0e7;
    position: relative;
}

.logo-bottom-left-left {
    width: 50%;
    height: 50%;
    background: #0d2481;
    position: relative;
}

.logo-bottom-left-right{
    width: 50%;
    height: 50%;
    background: #ffd830;
    position: relative;
}

.logo-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}


.logo-center .svg svg {
    fill: white;
    width: 100%;
}

.designist-center {
    width: 100%;
}

.designist-center {
    padding: 3em;
}

.designist-img {
    width: 30%;
    margin-bottom: 3em;
}

.designist-img img {
    width: 100%;
}

.designist-center p {
    margin-bottom: 2em;
}
/* /five hundred thousand */

/* dropbox nella tua azienda */

.company  {
    width: 100%;
    background: #b4d0e7;
    margin-bottom: 8em;
}

.company-business-free {
    width: 70%;
    font-size: 1.8em;
    padding: 3em;
    color: #61082b;
}

.free-trial {
    padding-top: 6.5em;
    width: 30%;
}

.free-trial-button {
    color: black;
    text-decoration: none;
    background: white;
    padding: 8px 50px
}
/* dropbox nella tua azienda */


/* faq */

.faq {
    margin-bottom: 7em;
}

.faq-title h3 {
    font-size: 2em;
}

.faq-title {
    margin-bottom: 3em;
}

.all-faq {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2em 0;
}

.faq-faq {
    width: 95%;
}

.faq-faq h5 {
    font-size: 1.1em;
}

.arrow-triangle {
    width: 5%;
}

.faq-center {
    border-top: none;
}


.all-faq p{
    padding-top: 1em;
    display: none;
}

.all-faq:hover p{
    display: inline-block;
}
/* /faq */

/* footer */

footer {
    width: 100%;
    background: #000000;
}

.info-footer {
    padding-top: 5em;
    width: 90%;
    margin: 0 auto;
    height: 200px;
}

.info-dropbox {
    width: calc(100% / 5 - 60px / 5);
    margin-right: 15px;
}

.info-dropbox h5 {
    font-size: 1.3em;
    color: white;
    margin-bottom: 1em;
}

.footer-info-right {
    margin-right: 0;
}

.info-dropbox ul li {
    font-size: 0.9em;
    color: white;
    line-height: 0.5em;
}

.italian {
    margin-top: 3em;
    width: 90%;
}
.italian a {
    text-decoration: none;
    color: #999999;
    border-top: 1px solid white;
    font-size: 0.7em;
    padding: 3.5em 4em 2em 0;
    margin-bottom: 2em;
    display: inline-block;
}